@page
@model Food_servise.Pages_Menus.IndexModel

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Restrant
            </th>
            <th>
                Dish
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestrantOfMenu.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishOfMenu.Name)  
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
