@page
@model Food_servise.Pages_DishsOfOrders.IndexModel

@{
    ViewData["Title"] = "Dishes of orders";
}

<h1>Dishes of orders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Dish of order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DishsOfOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdersOfDish.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishesOfOrder.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
